{% load static %}
{% load template_filters %}

{% include 'includes/top_main_tags.html' with title="Configure Vlan Access Mode" %}

  <body id="page-top">
    <div id="wrapper">
      {% include 'includes/sidebar.html' with connection_id=connection_id project_id=project_id %}
      <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
          {% include 'includes/topbar.html' %}
          <div class="container-fluid">
            {% include 'includes/messages.html' %}
            <div
              class="d-sm-flex justify-content-between align-items-center mb-4"
            >
              <h3 class="text-dark mb-0">Device Interfaces IP Address</h3>
            </div>  
            <div class="row">
              <div class="col-lg-12 col-xl-12">
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                    <h6 class="text-primary fw-bold m-0">Configure IP Addresses</h6>
                  </div>
                  <div class="card-body text-left">
                    <form id="StaticRoute">
                      <div class="row">
                        <div class="col-lg-3">
                          {% csrf_token %}
                          <div class="mb-3">
                            <label class="form-label" for="routeAction">
                              <strong>Action:</strong>
                            </label>
                            <select name="routeAction" id="routeAction" class="form-select">
                              <option value="add">Add</option>
                              <option value="delete">Delete</option>
                            </select>
                          </div>
                          <div class="mb-3">
                            <label class="form-label" for="routeIpAddress"
                              ><strong>Network IP Address</strong><br /></label
                            ><input
                              class="form-control"
                              type="text"
                              id="routeIpAddress"
                              placeholder="IP Address"
                              name="routeIpAddress"
                            />                        
                          </div>
                          <div class="mb-3">
                            <label class="form-label" for="routeMask"
                              ><strong>Mask</strong><br /></label
                            ><input
                              class="form-control"
                              type="text"
                              id="routeMask"
                              placeholder="Mask"
                              name="routeMask"
                            />                        
                          </div>
                          <div class="mb-3">
                            <label class="form-label" for="routeDefaultGateway"
                              ><strong>Default Gateway</strong><br /></label
                            ><input
                              class="form-control"
                              type="text"
                              id="routeDefaultGateway"
                              placeholder="Default Gateway"
                              name="routeDefaultGateway"
                            />                        
                          </div>
                        </div>
                      </div>
                      <div class="row" style="margin-top: 1rem">
                        <div class="col">
                          <div class="mb-3">
                            <button id="submit-btn" class="btn btn-primary btn-sm" type="submit">
                              Configure
                            </button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <script>
          window.onload = function() {
            $('#StaticRoute').submit(function(e) {
              e.preventDefault();
                var $inputs = $('#StaticRoute :input');
                /* let interfaces = {};
                $inputs.each(function() {
                  let splitted = this.id.split("-")
                  if (splitted.length>1 && splitted[1] != "btn") {
                    if (interfaces.hasOwnProperty(splitted[1])) {
                      if (this.value == "") {
                        delete interfaces[splitted[1]]
                      } else {
                        interfaces[splitted[1]] += "+"+this.value
                      } 
                    } else {
                      if (this.type == "checkbox" && this.checked == true) {
                        interfaces[splitted[1]] = splitted[1]
                      }
                    }
                  }
                }); */
                console.log($('select[name="routeAction"]'))
                // var values = $.map(interfaces, function(value, key) { return value });
                let data = {
                  csrfmiddlewaretoken : $('input[name="csrfmiddlewaretoken"]').val(),
                  routeAction : $('select[name="routeAction"]').val(),
                  routeIpAddress : $('input[name="routeIpAddress"]').val(),
                  routeMask : $('input[name="routeMask"]').val(),
                  routeDefaultGateway : $('input[name="routeDefaultGateway"]').val(),
                }
                console.log(data)
                let currentLink = window.location.href
                $.post( currentLink, data)
                .done(function( rep ) {
                  console.log(rep)
                  alert( rep );
                  window.location.href = currentLink.replace("add_static_route", "view");
                }).fail(function(rep) {
                  console.log(rep.responseText)
                  alert( "Done !" );
                  window.location.href = currentLink.replace("add_static_route", "view");
                });
                return false;
            });
          }
        </script>
        {% include 'includes/footer.html' %}
